body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

h1 {
    color: #f8f9fa;
}

p {
    color: #d3d3d3;
    line-height: 1.8;
}

.img-fluid {
    filter: brightness(80%);
}

.feature-image {
    filter: brightness(80%);
}

.content-scroll {
    height: 100vh;
    overflow-y: scroll;
    scrollbar-width: none; 
}
.content-scroll::-webkit-scrollbar {
    display: none; 
}